@font-face {
  font-family: Auth;
  src: url(./AUTHENTICSans-90.otf);
}

@font-face {
  font-family: Cirrus;
  src: url(./CirrusCumulus.ttf);
}

html,body{
  scroll-behavior: smooth;
  font-family: Auth, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.scroll{
  position: relative;
  height: 100vh;
}

body{
  background-color: #F0FF5F;
}

a{
  color: black;
  text-decoration: none;
}

h1{
  margin: 0;
  font-size: 48px;
  color: #cafbd9;
}

.menu{
  padding: 0px 10px;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 0;
  .logo{
    img{
      height: 40px;
      width: auto;
    }
  }
  h3{
    margin: 0;
  }
}

.hero{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  // margin-bottom: 25vh;
  overflow-y: visible;
  top: 40px;
  position: absolute;
  width: 100vw;
  // background-image: url('/Background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.slick-slider{
  height: auto;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  .slick-list{
    height: 100%;
  }
  .slick-slide>div {
    // padding: 0 24px;
    margin: auto 1.5vw;
    background-color: #F0FF5F;
    display: inline-flex;
  }

  .image{
    width: 100%;
    // border: 1px solid blue;
    // height: 48vh;
    overflow: hidden;
    // border: 1px solid black;
    // background-color: white;
    img{
      object-position: center center;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .description{
    width: 100%;
    color: black;
    margin-top: 10px;
    column-count: 2;
    p{
      margin: 0;
      line-height: 1.2;
      font-size: 11px;
      overflow-y: visible;
      // margin-bottom: 11px;
    }
  }
}


.slick-active{
  .project{
    opacity: 1;
  }
}

.index{
  min-height: 100vh;
  margin-left: 10px;
  margin-top: 24px;
  .title{
    font-size: 45px;
    // text-transform: uppercase;
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
    padding-top: 24px;
    justify-content: space-evenly;
    .index-row{
      width: 19%;
    }
    .index-item{
      display: flex;
      align-items: center;
      padding: 14px 0;
      .order{
        width: 60px;
        height: 60px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;

        }        
      }
      .info{
        display: block;
        // text-transform: uppercase;
        width: 75%;
        word-wrap: break-word;
        div{
          display: block;
          // a{
          //   transition: all 0.4s ease-in-out;
          //   &:hover{
          //     color: #f93822;
          //   }
          // }
        }
      }
    }
  }
}

.mobile-order{
  display: none;
}

// @media only screen and (min-height: 900px) {
//   .menu{
//     .logo{
//       img{
//         height: 10vh;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1100px) {
  .index  .list .index-row {
    width: 26%;
  }
}

@media only screen and (max-width: 900px) {

  html, body{
    scroll-padding-top: 75px;
  }

  .spacer{
    height: 100px;
  }

  .menu{
    .logo{
      text-align: center;
      img{
        height: 40px;
      }
    }
  }

  .slick-slider{
    .slick-slide>div{
      padding: 0 1vw;
      padding: 2vw;
    }
    .description{
      column-count: 1;
      p{
        margin-bottom: 14px;
        font-size: 12px;
      }
    }
  }


  .index{
    margin-top: 100px;
  }

  .index .list{
    display: inline-block;
    width: 98%;
  }
  .index  .list .index-item, .index  .list .index-row {
    width: 100%;
  }

  h1{
    font-size: 36px;
  }


}